%ul.usa-card-group
  - lapd_headshots.each do |lapd_headshot|
    %li.usa-card.tablet:grid-col-4
      .usa-card__container
        .usa-card__header
          %h2.usa-card__heading= lapd_headshot.file_name
        .usa-card__media
          .usa-card__img
            %img{alt: lapd_headshot.file_name, src: lapd_headshot.file_path}
