%section.grid-container.usa-section
  %h1 Agencies

  = render UswdsComponents::TableComponent.new(striped: true, borderless: true) do
    %caption Complete list of agencies
    %thead
      %tr
        %th{ scope: :col } Name
    %tbody
      = render @agencies

  - if policy(Agency).new?
    = link_to new_agency_path do
      Add agency

  = pagy_nav(@pagy).html_safe # rubocop:disable Rails/OutputSafety
