= render UswdsComponents::BasicHeaderComponent.new(image_path: 'https://cdn.jsdelivr.net/npm/uswds@2.13.0/dist/img') do |header|
  - header.logo(href: root_path, title: 'Bad Apples')

  - header.primary_item(title: 'Complete list', href: officers_path)
