- content_for :content do
  .grid-container
    .grid-row
      .tablet:grid-col-auto.margin-y-2.margin-right-3
        = render partial: 'preview_menu', locals: {previews: ViewComponent::Preview.all}

      .tablet:grid-col-fill
        %h1= @preview.preview_name.camelize if @preview
        = yield

= render template: "layouts/application"
